@charset "UTF-8";

table{
  margin: auto;
  border-collapse: collapse;
  width: 600px;
  height: 200px;
}

tr,td{
  text-align: center;
  border: 1px solid black;
}

td{
font-size: 28px;
}

button{
  display:block;
  margin: 0 auto;
  width: 600px;
  height: 32px;
  font-size: 28px;
}
li{
width: fit-content;
margin: 0 auto;
}


#open, #close{
  cursor: pointer;
  width: 100px;
  border: 1px solid black;
  border-radius: 16px;
  text-align: center;
  padding: 16px 0;
  margin: 4px auto;
}

#back{
  background: gray;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#modal{
  background: white;
  width: 600px;
  padding: 20px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#modal > p{
  text-align: center;
}

#back.s1{
  display: none;
}

#modal.s1{
  display: none;
}